.pw-check {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pw-check h2,
.pw-check p {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pw-check svg {
  width: 10px;
  height: 10px;
}
