:root {
  --shade-1: #1c1b1f;
  --shade-2: #323232;
  --shade-3: #565454;
  --shade-4: #858585;
  --shade-5: #a8a8a8;
  --shade-6: #cccccc;
  --shade-7: #ededed;
  --shade-8: #f6f6f6;
  --primary: #f49204;
  --summer-break: #1ea694;
  --summer-break-dark: #1b8576;
  --overlay-summer-break-dark: #70b1a8;
  --chlorophyllis: #8dc14e;
  --chlorophyllis-dark: #709f38;
  --chill-wave: #26a0c2;
  --chill-wave-dark: #1e7f9a;
  --overlay-chill-wave-dark: #88aeb9;
  --primary-button-hover: #18667b;
  --secondary-button-hover: #166a5e;
  --secondary-button-active: #003e35;
  --magneato: #820024;
  --papaya-whip: #ffaa17;
  --veruca: #00334d;
  --overlay-veruca: #69808c;
  --error: #c61010;
  --background-green: #d3e8e5;

  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --btn-shadow: 0px 2px 4px 0px rgba(40, 51, 63, 0.24);

  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--shade-8);
  height: 100%;
  margin: 0;
  padding: 0;
}

html:has(main.external),
body:has(main.external) {
  background: white;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
label,
a,
ul,
li,
td,
th,
small {
  margin: 0;
}

ul {
  padding: 0;
  list-style-position: inside;
}

button {
  cursor: pointer;
  font-size: 0.875rem;
}

main {
  margin: 0 auto 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

main.external {
  max-width: 100%;
  padding: 0;
}

main:not(.external) {
  padding: 8rem 1rem 1rem;
}

@media only screen and (min-width: 491px) {
  html:has(main.external),
  body:has(main.external) {
    background: var(--shade-8);
  }
}

/*================================== 
Button Styles 
==================================*/
.btn-nest {
  border: unset;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  height: 3rem;
  box-shadow: var(--btn-shadow);
  text-decoration: none;
}

.icon-btn {
  border: unset;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--btn-shadow);
  text-decoration: none;
}

.btn-nest svg {
  width: 1rem;
  height: 1rem;
}
.primary {
  background-color: var(--summer-break-dark);
  border: 1px solid var(--summer-break-dark);
  color: white;
}

.primary svg path {
  fill: white;
}

.primary:hover,
.primary:focus-visible {
  background-color: var(--secondary-button-hover);
  border: 1px solid var(--secondary-button-hover);
}

/* .primary:active {
  background-color: var(--veruca);
  border: 1px solid var(--veruca);
} */

.primary:disabled {
  background-color: var(--overlay-summer-break-dark);
  border: 1px solid var(--overlay-summer-break-dark);
}

.secondary {
  background-color: white;
  border: 1px solid var(--shade-2);
  color: var(--shade-2);
}

.secondary svg path {
  fill: var(--shade-2);
}

.secondary:hover,
.secondary:focus-visible {
  background-color: var(--shade-2);
  border: 1px solid var(--shade-2);
  color: white;
}

.secondary:hover svg path,
.secondary:focus-visible svg path {
  fill: white;
}

.secondary:active {
  background-color: var(--shade-1);
  border: 1px solid var(--shade-1);
  color: white;
}

.secondary:disabled {
  border: 1px solid var(--shade-3);
  color: var(--shade-3);
}

.tertiary {
  background-color: white;
  border: 1px solid var(--shade-6);
  color: var(--shade-3);
}

.tertiary svg path {
  fill: var(--shade-3);
}

.tertiary:hover,
.tertiary:focus-visible {
  background-color: var(--shade-7);
}

.tertiary:active {
  background-color: var(--shade-6);
}

.tertiary:disabled,
.tertiary:disabled svg path {
  background-color: var(--shade-8);
  color: var(--shade-5);
}

.ghost {
  border: unset;
  background: unset;
  border-radius: 0.25rem;
  color: var(--chill-wave-dark);
  font-weight: 700;
  box-shadow: unset;
}

.ghost svg path {
  fill: var(--chill-wave-dark);
}

.ghost:hover,
.ghost:focus-visible {
  background-color: var(--shade-7);
}

.ghost:active {
  background-color: var(--shade-6);
}

.ghost:disabled,
.ghost:disabled svg path {
  color: var(--overlay-chill-wave-dark);
  background-color: unset;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 491px) {
  .btn-nest {
    max-width: 320px;
    margin: 0 auto;
  }

  .btn-group {
    flex-direction: row;
  }
}

@media only screen and (min-width: 721px) {
  .btn-nest {
    border-radius: 0.5rem;
  }
}

/*================================== 
Form Styles 
==================================*/
.nest-input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--chill-wave);
  width: 100%;
}

/*-------- NEST Date --------*/
input[type="date"] {
  position: relative;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: calc(100% - 12px - -3px);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M7.8665 9.6C7.63984 9.6 7.44997 9.5232 7.2969 9.3696C7.1433 9.21653 7.0665 9.02667 7.0665 8.8C7.0665 8.57333 7.1433 8.3832 7.2969 8.2296C7.44997 8.07653 7.63984 8 7.8665 8C8.09317 8 8.2833 8.07653 8.4369 8.2296C8.58997 8.3832 8.6665 8.57333 8.6665 8.8C8.6665 9.02667 8.58997 9.21653 8.4369 9.3696C8.2833 9.5232 8.09317 9.6 7.8665 9.6ZM4.6665 9.6C4.43984 9.6 4.2497 9.5232 4.0961 9.3696C3.94304 9.21653 3.8665 9.02667 3.8665 8.8C3.8665 8.57333 3.94304 8.3832 4.0961 8.2296C4.2497 8.07653 4.43984 8 4.6665 8C4.89317 8 5.0833 8.07653 5.2369 8.2296C5.38997 8.3832 5.4665 8.57333 5.4665 8.8C5.4665 9.02667 5.38997 9.21653 5.2369 9.3696C5.0833 9.5232 4.89317 9.6 4.6665 9.6ZM11.0665 9.6C10.8398 9.6 10.65 9.5232 10.4969 9.3696C10.3433 9.21653 10.2665 9.02667 10.2665 8.8C10.2665 8.57333 10.3433 8.3832 10.4969 8.2296C10.65 8.07653 10.8398 8 11.0665 8C11.2932 8 11.483 8.07653 11.6361 8.2296C11.7897 8.3832 11.8665 8.57333 11.8665 8.8C11.8665 9.02667 11.7897 9.21653 11.6361 9.3696C11.483 9.5232 11.2932 9.6 11.0665 9.6ZM7.8665 12.8C7.63984 12.8 7.44997 12.7232 7.2969 12.5696C7.1433 12.4165 7.0665 12.2267 7.0665 12C7.0665 11.7733 7.1433 11.5835 7.2969 11.4304C7.44997 11.2768 7.63984 11.2 7.8665 11.2C8.09317 11.2 8.2833 11.2768 8.4369 11.4304C8.58997 11.5835 8.6665 11.7733 8.6665 12C8.6665 12.2267 8.58997 12.4165 8.4369 12.5696C8.2833 12.7232 8.09317 12.8 7.8665 12.8ZM4.6665 12.8C4.43984 12.8 4.2497 12.7232 4.0961 12.5696C3.94304 12.4165 3.8665 12.2267 3.8665 12C3.8665 11.7733 3.94304 11.5835 4.0961 11.4304C4.2497 11.2768 4.43984 11.2 4.6665 11.2C4.89317 11.2 5.0833 11.2768 5.2369 11.4304C5.38997 11.5835 5.4665 11.7733 5.4665 12C5.4665 12.2267 5.38997 12.4165 5.2369 12.5696C5.0833 12.7232 4.89317 12.8 4.6665 12.8ZM11.0665 12.8C10.8398 12.8 10.65 12.7232 10.4969 12.5696C10.3433 12.4165 10.2665 12.2267 10.2665 12C10.2665 11.7733 10.3433 11.5835 10.4969 11.4304C10.65 11.2768 10.8398 11.2 11.0665 11.2C11.2932 11.2 11.483 11.2768 11.6361 11.4304C11.7897 11.5835 11.8665 11.7733 11.8665 12C11.8665 12.2267 11.7897 12.4165 11.6361 12.5696C11.483 12.7232 11.2932 12.8 11.0665 12.8ZM2.2665 16C1.8265 16 1.4497 15.8435 1.1361 15.5304C0.823037 15.2168 0.666504 14.84 0.666504 14.4V3.2C0.666504 2.76 0.823037 2.38347 1.1361 2.0704C1.4497 1.7568 1.8265 1.6 2.2665 1.6H3.0665V0H4.6665V1.6H11.0665V0H12.6665V1.6H13.4665C13.9065 1.6 14.2833 1.7568 14.5969 2.0704C14.91 2.38347 15.0665 2.76 15.0665 3.2V14.4C15.0665 14.84 14.91 15.2168 14.5969 15.5304C14.2833 15.8435 13.9065 16 13.4665 16H2.2665ZM2.2665 14.4H13.4665V6.4H2.2665V14.4Z" fill="%2326A0C2"/></svg>');
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

/*
WHO TF EVEN STILL USES FIREFOX
...anyway. Hide custom date picker in firefox
*/
@-moz-document url-prefix() {
  input[type="date"] {
    background-image: none;
  }
}

/*================================== 
Card Styles 
==================================*/
.nest-card {
  background-color: white;
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.675rem;
  position: relative;
}

.nest-card.alt {
  box-shadow: unset;
  border: 1px solid var(--chill-wave);
  border-radius: 0.25rem;
}

.card-header {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: var(--chill-wave-dark);
  font-weight: 400;
  border-bottom: 3px solid var(--chill-wave);
}

.card-header svg {
  width: 1.25rem;
  height: 1.25rem;
}

.card-header svg path {
  fill: var(--chill-wave);
}

.card-header.alt {
  padding-bottom: 0;
  color: var(--veruca);
  font-weight: 500;
  border: unset;
}

.card-header.alt svg path {
  fill: var(--chill-wave);
}

/*================================== 
Misc Styles 
==================================*/
h1.page-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.75rem;
  color: var(--veruca);
}

h1.page-header svg {
  width: 2rem;
  height: 2rem;
}

h1.page-header svg path {
  fill: var(--veruca);
}

h1.page-header:has(+ .section.billing, + .section.faq) {
  max-width: 892px;
}

/* .section.billing, */
/* .section.settings, */
.section.faq {
  width: 100%;
  max-width: 892px;
  margin: 0 auto;
}

.billing {
  width: 100%;
  max-width: 892px;
  margin-bottom: 10.3rem;
  margin-left: auto;
  margin-right: auto;
}

.vr {
  width: 2px;
}

.flex-col-gap1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 491px) {
  h1.page-header {
    font-size: 2.125rem;
  }

  .section {
    background-color: var(--shade-7);
    padding: 1rem;
    border-radius: 1rem;
  }
}

@media only screen and (min-width: 721px) {
  .section {
    padding: 1.5rem 2rem;
  }
}

.bold {
  font-weight: 600 !important;
}
